.idea*
/__pycache__*
api_key.py
temp
temp.txt
temp_parse.py
theme_config/__pycache__/
auto_gen/__pycache__/
erroritems.txt
item_config/__pycache__/
test.py
test.txt
cloudflarebypass.py
bm
bng
bw
helper_files/__pycache__/
helper_files/manual_table.html
possible_mods.py
querytest.py
run_pob_gen.py
watcherlistxml.txt
watchers.py
